.footer__column-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  transition: opacity .21s ease;
}

.footer__column-link:hover {
  opacity: 0.73;
}
