.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 890px;
  z-index: 1;
  padding-top: 100px;
  background-color: #f2f2f2;
  margin: 0 auto ;
}
