.form__input {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  font-family: "Titillium Web", sans-serif;
  display: block;
  background: #4E4E4E;
  color: #fff;
  min-height: 55px;
  padding: 0 0 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
}

.form__input_half {
  width: 100%;
}
