@import url(../vendor/normalize.css);

/* <page> */
@import url(../blocks/page/page.css);
/* <page> */

/* <logo> */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
/* </logo> */

/* <section> */
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
/* </section> */

/* <header> */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__title/header__title.css);
/* </header> */

/* <content> */
@import url(../blocks/content/content.css);
/* </content> */

/* <description> */
@import url(../blocks/description/description.css);
/* </description> */

/* <two-columns> */
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);
/* </two-columns> */

/* <digits> */
@import url(../blocks/digits/digits.css);
/* </digits> */

/* <table> */
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_white.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
/* </table> */

/* <feynman> */
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__img/feynman__img.css);
@import url(../blocks/feynman/__link/feynman__link.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__title/feynman__title.css);
/* </feynman> */



/* Блок Фейнман */









/* .feynman__link::after {
  content: " \2192";
} */


/*секция kaufman */

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  z-index: 1;
}

.section-title_theme_dark {
  padding-top: 90px;
  width: 60%;
  margin: 0 auto;
  color: #fff;
}

.section-subtitle_theme_dark {
  padding-top: 20px;
  width: 60%;
  margin: 0 auto;
  color: #fff;
}

.table_theme_dark {
  margin: 0 auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  z-index: -1;
}

/* блок подвала*/

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin: 60px auto 40px;
  justify-content: space-between;
  color: #fff;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}



.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 18px 0;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
