.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* общие признаки и элементы */

.position-absolute {
  position: absolute;
  z-index: 73; /* самое лучшее число (Шелдон) */
} 

.offset-to-the-right { left: 64px;}

.zero-on-the-right {right: 0;}

.link {color: #2f80ed;} /* ссылки синие*/

.right-arrow::after {content: " \2192";}  /*стрелка с права*/


/* шапка сайта */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo__place__header {
  top: 30px;
  width: 228px;
  height: 32px;
}

/* текст, заголовок шапки и т.д.*/

.header__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 730px;
  height: 100%;
}

.header__title__text {
  height: 96px;
  font-size: 102px;
  font-weight: 600;
}


.header__subtitle {
  bottom: 30px;
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
}



/* картинка шапки */

.header__main-illustration {
  bottom: 0;
  width: 765px;
  height: 608px;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;

  top: 64px;
  background-color: #0080ff;
  z-index: -1;
}








/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
